<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ampinity.inv">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/inv"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MasterUpdateEmpReg"
            android:label="@string/title_activity_master_update_emp_reg"
            ></activity>
        <activity
            android:name=".Activity.EmployeeRegistration"
            android:label="@string/title_activity_employee_registration" />
        <!--
        <activity
            android:name=".Activity.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        -->
        <activity android:name=".Activity.AddDateWiseActivity" />
        <activity android:name=".Activity.UpdateEmployeeAdvance" />
        <activity android:name=".Activity.ActivityUpdateRackdetails" />
        <activity android:name=".Activity.UpdateActivitySuperDiscount" />
        <activity android:name=".Activity.AddActivitySuperDiscount" />
        <activity android:name=".Activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity android:name=".Activity.LoginActivity" /> -->
        <activity
            android:name=".Activity.Dashboard"
            android:configChanges="orientation"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MasterActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".Activity.PurchaseActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SaleActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddLobActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddAttributeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddGstActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddBankActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddTaxGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddVenderDetailActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.AddVenderTypeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.AddPurchaseEntryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.AddPurchaseReturnActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddSalesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddSalesReturnActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AccountActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddAccountGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddAccountLedgerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddCashPaymentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddBankPaymentActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddCashRecieptActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddBankRecieptActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddJournalVoucherActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateLobActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateAttributedetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateTaxGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateGstActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateBankActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateAccountGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateAccountLedgerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateVenderTypeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateVenderDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdatePurchaseEntryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BarcodeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DeviceList"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateProductItemActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdateSalesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddSalesCustomerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PurchaseBarcodeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.INVSettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.StockActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HelpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.INVTransactionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.INVReportActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddSalesCreditNoteActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegistrationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Otp"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.ActivityAddOffer1" />
        <activity android:name=".fragment.ActivityAddOffer" />
        <activity android:name=".ActivityOffer2" />
        <activity android:name=".Activity.ActivityAddSuperDiscount" />
        <activity android:name=".Activity.ActivityAddDateWise" />
        <activity android:name=".Activity.ActivityMembershipCard" />
        <activity android:name=".Activity.ActivityCardType" />
        <activity android:name=".Activity.ActivityIncentiverate" />
        <activity android:name=".Activity.ActivityIncentiveRatingDetails" />
        <activity android:name=".Activity.ActivityRackmaster" />
        <activity android:name=".Activity.ActivityRackDetails" />
        <activity android:name=".Activity.ActivityEmployeeAttendance" />
        <activity android:name=".Activity.ActivityAttendanceDetails" />
        <activity android:name=".Activity.ActivityEmployeeAdvance" />
        <activity android:name=".Activity.ActivityEmployeeAdvanceDetails" />
        <activity android:name=".Activity.UpdateOffer1Activity" />
        <activity android:name=".Activity.UpdateOffer2Activity" />
        <activity android:name=".Activity.UpdateDateWiseActivity" />
        <activity android:name=".Activity.UpdateRackMaster" />
        <activity android:name=".Activity.UpdateEmployeeAttendance" />
    </application>

</manifest>